html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #8d8d8d;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* drum machine */

#drum-machine {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 1rem;
  max-width: 660px;
  background-color: #b3b3b3;
  outline: 5px solid orange;
}

.drum-pad-wrapper {
  margin-bottom: 1rem;
  text-align: center;
  max-width: 360px;
}

.drum-pad {
  width: 80px;
  height: 80px;
  margin: 10px 10px 0 10px;
  background-color: #808080;
  border-radius: 10px;
  box-shadow: 2px 2px 2px hsl(0, 11%, 22%);
  font-weight: bold;
}

/* controls */
.controls-wrapper {
  margin: 1rem;
}

@media only screen and (min-width: 500px) {
  #drum-machine {
    grid-template-columns: 1.2fr 0.8fr;
  }
}
